.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-block-end: var(--spacer-l);
    
    &.modal-visible {
        max-height: 100vh;
        overflow: hidden;
    }
}