.cta {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;

    // for icons
    gap: var(--spacer-m);
    position: relative;
    padding-block: var(--spacer-s);
    padding-inline: var(--spacer-m);
    color: var(--color-primary);
    font-size: 1.4rem;
    overflow: hidden;
    transition: all .3s;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--color-light);
        border: 2px solid var(--color-primary);
        transition: all .3s;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 20%;
        height: 300%;
        position: absolute;
        top: 50%;
        right: 200%;
        z-index: -1;
        background-color: var(--color-light);
        opacity: .5;
        transform: translate(50%, -50%) rotate(45deg);
        transition: right .3s;
    }

    // Fontawesome icon
    > i {
        order: -1;
    }

    &:hover,
    &:focus {
        color: var(--color-light);

        &::before {
            background-color: var(--color-primary);
        }

        &::after {
            right: 0;
        }
    }
}