@use 'src/styles/include-media' as m;

.gameslisting_wrapper {
    position: relative;

    + button,
    a {
        margin-block-start: var(--spacer-l);
    }
}

.gameslisting_header {
    margin-block-end: var(--spacer-m);
        
    @include m.media(">tablet") {
        margin-block-end: var(--spacer-l);
    }
}

.gameslisting {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--spacer-m) * -1 );
    margin-block: calc(var(--spacer-m) * -1 );

    > li {
        width: 100%;
        margin: var(--spacer-m);
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.12);

        @include m.media(">tablet", "<=desktop") {
            width: calc(50% - var(--spacer-l));
            margin: var(--spacer-m);
        }
        
        @include m.media(">desktop") {
            width: calc((100% / 3) - var(--spacer-l));
        }
    }
}

.gameslisting_sort_cta_wrapper {
    display: flex;
}
