@use 'src/styles/include-media' as m;

.gameslisting_wrapper {
    position: relative;

    + button,
    a {
        margin-block-start: var(--spacer-l);
    }
}

.gameslisting {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--spacer-m) * -1 );
    margin-block: calc(var(--spacer-m) * -1 );

    > li {
        width: 100%;
        margin: var(--spacer-m);
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.12);

        @include m.media(">tablet", "<=desktop") {
            width: calc(50% - var(--spacer-l));
            margin: var(--spacer-m);
        }
        
        @include m.media(">desktop") {
            width: calc((100% / 3) - var(--spacer-l));
        }
    }
}

.gameslisting_sort {
    display: flex;
    align-items: center;

    p {
        margin-block-end: 0;
    }
}

.gameslisting_sort_cta_wrapper {
    display: flex;
}

.gameslisting_sort_cta {
    padding: var(--spacer-s);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:first-of-type {
        border-radius: var(--spacer-s) 0 0 var(--spacer-s);
    }

    &:not(:first-of-type) {
        border-radius: 0 var(--spacer-s) var(--spacer-s) 0;
    }

    > i {
        font-size: 2rem;
    }
}