:root {
  // =============------------------ SPACERS
  --spacer-xs: 0.4rem;
  --spacer-s: 0.8rem;
  --spacer-m: 1.6rem;
  --spacer-l: 3.2rem;
  --spacer-xl: 6.4rem;

  // =============------------------ COLORS
  --color-primary: #db0000;
  --color-secondary: #f6f6f6;
  --color-light: white;
  --color-secondary-text: rgb(147 147 147);

  // Request colors
  --color-info: white;
  --color-success: green;
  --color-alert: orange;
  --color-error: red;

  // =============------------------ SIZES
  --size-max: 1480px;

  // =============------------------ LAYERS (z-indexes)
  --z-modal: 5;
  --z-loader: 9;
}
