@use 'reboot';

@import 'include-media.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

p {
  font-size: 1.6rem;
}

a  {
  color: var(--color-primary);

  &:visited {
    color: var(--color-primary);
  }
}
