@use 'src/styles/variables';
@use 'src/styles/include-media' as m;

.page {
    max-width: var(--size-max);
    margin-inline: auto;
    padding-inline: var(--spacer-m);

    @include m.media(">tablet") {
        padding-inline: var(--spacer-l);
    }
}