@use 'reboot';
@use 'variables' as v;
@use 'extends';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-primary);
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
