@use 'src/styles/include-media' as m;
@use '../../../styles/extends';

@import '../Button/Button.scss';

.fields_columns {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s);

    @include m.media(">desktop") {
        flex-direction: row;
        gap: var(--spacer-l);
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin-block-end: var(--spacer-m);

    input[type=text],
    input[type=number],
    input[type=password] {
        width: 100%;
        min-height: 4.8rem;
        padding-block: var(--spacer-s);
        padding-inline: var(--spacer-m);
        border: 1px solid var(--color-secondary-text);
        border-radius: var(--spacer-s);
        background-color: var(--color-secondary);
    }

    input[type=file] {
        @extend %accessible-wording ;

        + label {
            @extend .cta;
            margin-inline-end: auto;
            cursor: pointer;
        }
    }

    > .cta {
        margin-inline-end: auto;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        min-height: 4.8rem;
        padding-block: var(--spacer-s);
        padding-inline: var(--spacer-m);
        border: 1px solid var(--color-secondary-text);
        border-radius: var(--spacer-s);
        background-color: var(--color-secondary);
        background-image: url('../../../assets/caret-down.svg');
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position-x: calc(100% - var(--spacer-m));
        background-position-y: center;
    }

    &.field--full-width {
        flex: 1;
    }
}

.field_label {
    order: -1;
    margin-inline-start: var(--spacer-m);
    margin-block-end: var(--spacer-xs);
    font-weight: 600;
}
