:root {
    --picture-height: 23rem;
    --content-translation: 12rem
}

.boardgame-card {
    position: relative;
    height: 43rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover,
    &:focus {
        .boardgame-card_content {
            transform: translateY(calc(var(--content-translation) * -1));
        }

        .boardgame-card_visual_wrapper::after {
            opacity: .4;
        }

        .boardgame-card_visual {
            transform: scale(1.1, 1.1);
        }
    }
}

.boardgame-card_highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: calc((var(--picture-height) - var(--content-translation)) / 2);
    right: calc(var(--spacer-m) + var(--spacer-s));
    width: calc((var(--picture-height) - var(--content-translation)) - 4rem);
    aspect-ratio: 1 / 1;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    color: var(--color-light);
    line-height: 1.1;
}

.boardgame-card_highlight_amount {
    font-size: 2.2rem;
    font-weight: 700;
}

.boardgame-card_visual_wrapper {
    position: relative;
    display: block;
    height: var(--picture-height);
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
    }
}

.boardgame-card_visual {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    transform: scale(1, 1);
}

.boardgame-card_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20rem;
    top: var(--picture-height);
    padding: calc(var(--spacer-m) + var(--spacer-s));
    transform: translateY(0);
    transition: .3s;
    background-color: var(--color-light);
}

.boardgame-card_coop {
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: var(--color-primary);
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    padding: var(--spacer-s);
}

.boardgame-card_title {
    font-size: 3rem;
    font-weight: 700;
    margin-block-end: 1.6rem;
}

.boardgame-card_description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.boardgame-card_owners_name {
    font-style: italic;
}

.boardgame-card_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--spacer-m) + var(--spacer-s));
    background-color: var(--color-light);
    color: var(--color-secondary-text);
}

.boardgame-card_footer_inner {
    display: flex;
    align-items: baseline;
    gap: var(--spacer-xs);
    margin-block-end: 0;
    font-size: 1.3rem;

    i {
        margin-inline-end: var(--spacer-xs);
        font-size: 1.4rem;
    }
}

.boardgame-card_footer_highlight {
    font-size: 1.4rem;
    font-weight: 600;
}

.boardgame-card_link {
    margin-block-start: auto;
    margin-inline-end: auto;
}