.main-footer {
    display: flex;
    justify-content: space-between;
    margin-block-start: auto;
    padding: var(--spacer-m);
    background-color: var(--color-dark);
    color: var(--color-light);
}