.main-footer {
    margin-block-start: auto;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.main-footer_inner {
    max-width: var(--size-max);
    margin-inline: auto;
    padding-inline: var(--spacer-l);
    padding-block: var(--spacer-m);
    display: flex;
    justify-content: space-between;
}

.author {
    &::after {
        content: '-';
        display: inline-block;
        margin-inline: var(--spacer-m);
    }
}

.main-footer_cta {
    margin-inline-start: auto;
    color: var(--color-light);
}