@use 'src/styles/include-media' as m;

.main-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 4vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-nav_items {
    display: flex;
    width: 100%;
    max-width: var(--size-max);
    padding-inline: var(--spacer-l);
}

.main-nav_items_item {
    display: flex;
    
    > a,
    > button.link {
        display: inline-flex;
        align-items: center;
        gap: var(--spacer-s);
        padding: var(--spacer-s);
        color: var(--color-light);
        font-size: 1.4rem;
        text-transform: uppercase;

        &:visited {
            color: var(--color-light);
        }

        &.current {
            color: var(--color-primary);
        }

        &::after {
            transform: translateY(0) scaleX(0);
            background-color: var(--color-light);
        }

        &:hover,
        &:focus {

            &::after {
                transform: translateY(0) scaleX(1);
            }
        }

        // Reajust the icon just to be visually perfect
        span {
            transform: translateY(-0.1rem);
        }
    }

    &:first-of-type {
        margin-inline-end: auto;
    }
}

.main-nav_items_item_wording {
    @include m.media("<tablet") {
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
        position: absolute;
    }
}